GITHUB_CLIENT_ID=tgithub_client_id
GITHUB_CLIENT_SECRET=tgithub_client_secret

JWT_SECRET=BancoXYZBffSecretKey2026SecureJwtTokenKeyMustBe256BitsLong!

# Puerto del microservicio de autenticacion
AUTH_PORT=8084

# Base de datos MySQL (opcional, defaults a root / MyDUOCSQL004!)
DB_USERNAME=root
DB_PASSWORD=MyDUOCSQL004!

# Nombre de la Base de Datos MySQL
DB_NAME=banco_xyz_db

